<div class="span4">
  <h3>Recent news</h3>
  <ul class="icons">
    <li>
      <p><i class="icon-twitter"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <small>
          by
          <a href="#">.com</a>
        </small>
      </p>
    </li>
    <li>
      <p><i class="icon-twitter"></i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        <small>
          by
          <a href="#">.com</a>
        </small>
      </p>
    </li>
  </ul>
</div>